/* Chat Box */

.chat-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-2);

  form {
    line-height: 1;
    display: flex;
    clear: both;
    font-size: 1em;
    padding: var(--spacing);
    gap: var(--spacing);

    textarea {
      flex: 1;
    }

    button {
      & span {
        display: inline-block;
        scale: 1.5;
      }
    }
  }

  .messages {
    flex: 1;
    overflow-y: auto;
    padding-top: var(--spacing-2);

    div {
      margin: var(--spacing);
      clear: both;

      &[data-role='user'] {
        max-width: 90%;
        float: right;
        background-color: var(--primary);
        color: var(--on-primary);
        padding: var(--spacing);
        border-radius: var(--radius);
      }

      pre {
        overflow-x: auto;
      }
    }
  }
}

/* Menu */

[popovertarget='user-menu-dropdown'] {
  anchor-name: --user-menu-dropdown;
}

#user-menu-dropdown {
  --anchor: --user-menu-dropdown;
}




/* Banner */

.banner {
  text-align: center;
  background-color: var(--accent);
  padding: 0.5rem;
  color: var(--on-accent);
  width: calc(100% - 8px * 2);
  margin: 2px 8px;
  border-radius: var(--radius);
  margin-right: var(--spacing);
  position: relative;

  a,
  .link {
    --color: var(--on-accent);
    text-decoration: underline;
  }

  button.close {
    padding: 0 var(--spacing);
    position: absolute;
    right: 1rem;

    &,
    &:active {
      scale: 1.5;
    }
  }
}

.hidePlaceholderBanner .banner.placeholder {
  display: none;
}

/* Button to show banner after its been closed */
.banner-closed-button {
  position: absolute;
  top: 63px;
  right: var(--spacing);
  float: right;
  padding: 0 var(--spacing);
  --color: var(--accent);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  border-radius: calc(var(--radius) * 4);

  span {
    display: block;
  }
}