@import "loader.css";
@import "theme.css";
@import "helpers.css";

.container {
  border: 10px solid var(--primary);
  border-radius: calc(var(--radius) * 8);
  outline: 100px solid var(--primary);
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  /* justify-content: center; FIX LATER*/
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  padding: 0 var(--spacing);
}

header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
  padding-bottom: 0;
  border-bottom: 2px solid color-mix(in srgb, currentColor, transparent 80%);

  .left,
  .right,
  a.logo {
    display: flex;
    align-items: center;
  }

  &:has(+ .banner) {
    border-bottom: none;
  }

  .logo img {
    scale: 1.15;
  }
}

.banner {
  text-align: center;
  background-color: var(--accent);
  padding: .5rem;
  color: var(--on-accent);
  width: calc(100% - 8px * 2);
  margin: 2px 8px;
  border-radius: var(--radius);

  a {
    color: var(--on-accent);
    text-decoration: underline;
  }
}

.chat-box {
  overflow: hidden;
  height: 100%;
  flex: 1;
  width: 880px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--radius) * 2);

  form {
    display: flex;
    clear: both;
    font-size: 1em;
    padding: var(--spacing) 0;

    input {
      flex: 1;
    }

    button {
      aspect-ratio: 1 / 1;
      font-size: 1.5em;
      padding: 0;
    }
  }

  .messages {
    flex: 1;
    overflow-y: auto;

    div {
      margin: var(--spacing);
      clear: both;

      &[data-role="user"] {
        max-width: 90%;
        float: right;
        background-color: var(--primary);
        color: var(--on-primary);
        padding: var(--spacing);
        border-radius: var(--radius);
      }

      pre {
        overflow-x: auto;
      }
    }
  }
}

/* Scrollbar */

* {
  scrollbar-color: var(--accent) transparent;
  word-wrap: break-word;
}