.container {
  border: 10px solid var(--primary);
  border-radius: calc(var(--radius) * 8);
  outline: 100px solid var(--primary);
  outline-offset: -1px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@keyframes pageTransition {
  from {
    scale: 0.95;
    opacity: 0;
  }

  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    scale: 1;
    opacity: 1;
  }

  10% {
    scale: 0.95;
    opacity: 0;
  }
}

body.fade-out {
  main {
    animation: fadeOut 5s ease-in-out;
  }
}

main {
  display: flex;
  /* FIX LATER */
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  margin: auto 0;
  /* height: 100%; */
  padding: 0 var(--spacing);
  animation: pageTransition .5s ease-in-out;


  &:has(.chat-box) {
    height: 100%;
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: calc(var(--spacing) / 2) calc(var(--spacing) * 2);
  padding-bottom: 0;
  border-bottom: 2px solid color-mix(in srgb, currentColor, transparent 80%);

  .left,
  .right,
  a.logo {
    display: flex;
    align-items: center;
  }

  &:has(+ .banner) {
    border-bottom: none;
  }

  .logo img {
    scale: 1.15;
  }

  .tokens {
    margin-right: var(--spacing);
  }
}

.banner {
  text-align: center;
  background-color: var(--accent);
  padding: 0.5rem;
  color: var(--on-accent);
  width: calc(100% - 8px * 2);
  margin: 2px 8px;
  border-radius: var(--radius);
  margin-right: var(--spacing);
  position: relative;

  a {
    color: var(--on-accent);
    text-decoration: underline;
  }

  button {
    padding: 0;
    background: none;
    position: absolute;
    right: 1rem;
    scale: 1.5;
  }
}

.chat-box {
  overflow: hidden;
  height: 100%;
  flex: 1;
  width: 880px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--radius) * 2);

  form {
    line-height: 1;
    display: flex;
    clear: both;
    font-size: 1em;
    padding: var(--spacing);

    .textarea-container {
      flex: 1;
    }

    button {

      & span {
        display: inline-block;
        scale: 1.5;
      }

    }
  }

  .messages {
    flex: 1;
    overflow-y: auto;
    padding-top: calc(var(--spacing) * 2);

    div {
      margin: var(--spacing);
      clear: both;

      &[data-role='user'] {
        max-width: 90%;
        float: right;
        background-color: var(--primary);
        color: var(--on-primary);
        padding: var(--spacing);
        border-radius: var(--radius);
      }

      pre {
        overflow-x: auto;
      }
    }
  }
}