/* Theme */

:root {
    --dark1: #000;
    --dark2: #222;
    --dark3: #333;
    --dark4: #444;
    --light1: #fff;
    --light2: #ddd;
    --light3: #bbb;
    --light4: #aaa;

    --accent: #5294eb;
    --on-accent: #fff;

    --primary: ThemeColor;
    --on-primary: #fff;

    --radius: 3px;
    --border-color: var(--bg3);
    --border-width: 1px;
    --spacing: 12px;
}

.theme-light {
    --bg1: var(--light1);
    --bg2: var(--light1);
    --bg3: var(--light3);
    --bg4: var(--light4);
    --fg1: var(--dark1);
    --fg2: var(--dark2);
    --fg3: var(--dark3);
    --fg4: var(--dark4);

    --input-shadow: 0 1px 3px #0003;
}

.theme-dark {
    --bg1: var(--dark1);
    --bg2: var(--dark2);
    --bg3: var(--dark3);
    --bg4: var(--dark4);
    --fg1: var(--light1);
    --fg2: var(--light2);
    --fg3: var(--light3);
    --fg4: var(--light4);

    --input-shadow: none;
}

.theme-dark,
.theme-light {
    --red: color-mix(in srgb, red, var(--fg1) 25%);
}

/* General Styles */

* {
    box-sizing: border-box;
    touch-action: manipulation;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    background: var(--bg1);
    color: var(--fg2);
    overscroll-behavior: none;
}

::selection {
    background-color: var(--accent);
    color: var(--on-accent);
}

:is(h1, h2, h3, h4, h5, h6) {
    color: var(--fg1);
    margin: .5em 0;
}

:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: -1px;
}

p {
    margin: var(--spacing) 0;
    font: inherit;
}

a+a:not(:first-of-type) {
    margin-left: var(--spacing);
}

form div:has(label) {
    margin: var(--spacing) 0;

    & label {
        display: block;
        margin-bottom: calc(var(--spacing)/3);
    }
}


/* Buttons */

button,
input:is([type="button"], [type="reset"], [type="submit"]) {
    background-color: var(--accent);
    border-radius: var(--radius);
    border: var(--border-width) solid var(--border-color);
    padding: calc(var(--spacing)/2) calc(var(--spacing));
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    color: var(--on-accent);
    display: block;

    &:focus-visible {
        border-color: transparent;
        outline-offset: 2px;
    }

    &:hover {
        background-color: color-mix(in srgb, var(--accent), var(--on-accent) 15%);
    }

    &:active {
        background-color: color-mix(in srgb, var(--accent), var(--on-accent) 15%);
    }
}


/* Inputs */

input:is([type="text"], [type="email"], [type="password"], [type="tel"], [type="search"], [type="url"], [type="number"], [type="date"], [type="time"], [type="datetime-local"], [type="color"], [type="month"], [type="week"]) {
    width: 100%;
    padding: calc(var(--spacing)/2) var(--spacing);
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--radius);
    background-color: var(--bg2);
    font: inherit;
    box-shadow: var(--input-shadow);

    &:focus-visible {
        border-color: transparent;
    }
}

/* Links */

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: 600;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }

    &:active {
        display: inline-block;
        scale: 1.1;
        color: color-mix(in srgb, var(--accent), currentColor 15%);
    }
}

*:active {
    transition: all 0.1s;
    background-color: red !important;
}

*:not(p, input) {
    user-select: none;
    -webkit-user-select: none;
}

/* Error */

p.error {
    color: var(--red);
}